{% extends 'base.html' %}

{% block title %} Reaction Time {% endblock %}

{% block head %}
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Unity WebGL Player | Reaction Time</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='games/ReactionTime/TemplateData/favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='games/ReactionTime/TemplateData/style.css') }}">
<script src="{{ url_for('static', filename='games/ReactionTime/TemplateData/UnityProgress.js') }}"></script>
<script src="{{ url_for('static', filename='games/ReactionTime/Build/UnityLoader.js') }}"></script>
<script>
  var unityInstance = UnityLoader.instantiate("unityContainer", "{{ url_for('static', filename='games/ReactionTime/Build/Build.json') }}", {onProgress: UnityProgress});
</script>
{% endblock %}

{% block content %}
<div class="webgl-content">
  <div id="unityContainer" style="width: 960px; height: 600px"></div>
  <div class="footer">
    <div class="webgl-logo"></div>
    <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
    <div class="title">Reaction Time</div>
  </div>
</div>
{% endblock %}