{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} Signup {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}

<div id="signup">
    <div class="container">

        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-warning mt-2 mb-0" role="alert">
                                {{ messages[0] }}
                            </div>
                        {% endif %}
                    {% endwith %}

                    <form id="login-form" class="form" action="/signup" method="POST">
                        <h3 class="text-center text-info">Sign Up</h3>

                        {{ form.hidden_tag() }}
                        {{ wtf.form_field(form.email) }}
                        {{ wtf.form_field(form.username) }}
                        {{ wtf.form_field(form.password) }}
                        {{ wtf.form_field(form.confirm) }}

                        <!-- <div class="form-group">
                            <label for="email" class="text-info">Email</label><br>
                            <input type="email" name="email" id="email" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="username" class="text-info">Username</label><br>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="password" class="text-info">Password</label><br>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="confirm" class="text-info">Confirm Password</label><br>
                            <input type="password" name="confirm" id="confirm" class="form-control">
                        </div> -->

                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Sign Up">
                        </div>

                        <div id="other-link" class="text-right">
                            <a href="{{ url_for('auth_bp.login') }}" class="text-info">I have an account</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}