{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}


{% block content %}

{% if (errorMessage | length) > 0 %}
<div class="alert alert-info alert-dismissible fade show mx-5 my-2" role="alert">
    {{ errorMessage }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% for pendingRequest in pendingRequests %}
<div class="alert alert-primary text-center mx-5 mt-2 mb-0 py-2" role="alert">
    <ul class="nav">
        <li class="nav-item me-auto">Friend request from {{ pendingRequest.username }}</li>
        <li class="nav-item"><a class="btn btn-sm btn-outline-success" href="/accept_friend?accept=true&frienduser={{ pendingRequest.username }}">Accept</a></li>
        <li class="nav-item">&nbsp;&nbsp;</li>
        <li class="nav-item"><a class="btn btn-sm btn-outline-danger" href="/accept_friend?accept=false&frienduser={{ pendingRequest.username }}">Deny</a></li>
    </ul>
</div>
{% endfor %}

<div class="container-fluid">
    <div class="row align-items-center justify-content-center py-5">
        <div class="col-auto fs-2">Your current mood:</div>
        <div class="col-auto">
            <div class="card border-0">
                <img class="mx-auto" src="/images/moods/{{ currentMood.mood }}.jpg" alt="{{ currentMood.mood }}" width="80" height="80">
                <p class="card-text text-center datetime">{{ currentMood.last_updated }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid px-5">
    <div class="row row-cols-2 justify-content-between">

        {% for friendMood in friendMoods %}
            <div class="col my-2">
                <div class="card p-3">
                    <div class="row g-0">
                        <div class="col-auto mx-2">
                            <img src="/images/moods/{{ friendMood.mood }}.jpg" alt="{{ friendMood.mood }}" width="60" height="60">
                        </div>
                        <div class="col">
                            <h5 class="card-title">{{ friendMood.username }}</h5>
                            <p class="card-text datetime">
                                {{ friendMood.last_updated }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

{% endblock %}