/* body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
} */

#login-box {
    max-width: 600px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#login #login-box {
    margin-top: 200px;
}

#signup #login-box {
    margin-top: 150px;
}


#login-form {
    padding: 20px;
}


#login-form input.btn {
    margin-top: 10px;
}


#login #other-link {
    margin-top: -45px;
}

#signup #other-link {
    margin-top: -45px;
}